{% extends "admin/base.html" %}
{% load static %}
<link href="{% static 'external.css' %}" rel="stylesheet">

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<style>
  body {
    background: #4f4f4f;
  }

  h1 {
    color: #1b1b1b;
  }

  #header {
    background: #79aec8;
  }

  #branding {
    width: 90%;
  }

  #site-name {
    float: right;
  }

</style>
{% endblock %}

{% block branding %}
<a class="navbar-brand logo-top" href="#">
	    <img src="{% static 'img/Logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
	    Brand Name
</a>

<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
